extends base
block content
  .container.pt-4
    h2 Aeropuertos 
    .row.mt-5
      .col-12
        table.table.bg-white
          thead
            tr
              th(scope='col') Codigo IATA
              th(scope='col') Ciudad
              th(scope='col') Pais
              th(scope='col')
          tbody
          - for (var i = 0; i < aeropuertos.length; i++)
            tr
              th(scope='row') #{aeropuertos[i].CodigoIATA}
              td #{aeropuertos[i].Ciudad}
              td #{aeropuertos[i].Pais}
              td
                form(action=`delete/${aeropuertos[i].CodigoIATA}`,method="POST")
                  button.btn.btn-outline-danger(type='submit') Eliminar
        h4.mt-5 Agregar un nuevo aeropuerto
        form(action='create/' method="POST")
          .form-group
            label(for='CodigoIATA') Codigo IATA
            input#CodigoIATA.form-control(type='text' aria-describedby='CodigoIATA' placeholder='CodigoIATA' name='CodigoIATA')
          .form-group
            label(for='Ciudad') Ciudad
            input#Ciudad.form-control(type='text' placeholder='Ciudad' name='Ciudad')
          .form-group
            label(for='Pais') Pais
            input#Pais.form-control(type='text' placeholder='Pais' name='Pais')
          button.btn.btn-primary(type='submit') Agregar