<!DOCTYPE html>
html(lang="en")
  head
    // preload
    link(rel="preload", href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", as="style")
    link(rel="preload", href="https://code.jquery.com/jquery-3.3.1.slim.min.js", as="script")
    link(rel="preload", href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js", as="script")
    link(rel="preload", href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js", as="script")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title VuelaMAS
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", defer, async)

  body.bg-light
    block navbar
      // Navbar
      nav.navbar.navbar-expand-md.bg-dark.text-light.nav-justified
        a(href="/").navbar-brand.pr-5.text-light VuelaMAS
        div(id="collapsibleNavbar").collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
              a(href="/aeropuertos/").nav-link.pr-5.text-light Aeropuertos
            li.nav-item
              a(href="/clientes/").nav-link.pr-5.text-light Clientes
            li.nav-item
              a(href="/empleados/").nav-link.pr-5.text-light Empleados
            li.nav-item
              a(href="/modelosAvion/").nav-link.pr-5.text-light Modelos de Avión
            li.nav-item
              a(href="/proveedores/").nav-link.pr-5.text-light Proveedores
            li.nav-item
              a(href="/tarifas/").nav-link.pr-5.text-light Tarifas
            li.nav-item
              a(href="/aviones/").nav-link.pr-5.text-light Aviones
            li.nav-item
              a(href="/mantenimientos/").nav-link.pr-5.text-light Mantenimientos
            li.nav-item
              a(href="/rutas/").nav-link.pr-5.text-light Rutas
            li.nav-item
              a(href="/vuelos/").nav-link.pr-5.text-light Vuelos
            li.nav-item
              a(href="/alquileres/").nav-link.pr-5.text-light Alquileres
    block content
      // Content
    block scripts
      script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", defer)
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js", defer)
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js", defer)