extends base
block content
  .container.pt-4
    h2 Pasajes
    .row.mt-5
      .col-12
        table.table.bg-white
          thead
            tr
              th(scope='col') Reserva
              th(scope='col') Pasajero
              th(scope='col')
              th(scope='col')
          tbody
          - for (var i = 0; i < pasajes.length; i++)
            tr
              th(scope='row') #{pasajes[i].Reserva}
              td #{pasajes[i].Pasajero}
              td
                form(action=`show/${pasajes[i].Reserva}`,method="POST")
                  button.btn.btn-outline-dark(type='submit') Detalle
              td
                form(action=`delete/${pasajes[i].Reserva}`,method="POST")
                  button.btn.btn-outline-danger(type='submit') Eliminar
        h4.mt-5 Crear Pasajes
        form(action='create/' method="POST")
          .form-group
            label(for='Reserva') Reserva
            input#Reserva.form-control(type='text' aria-describedby='Reserva' placeholder='Reserva' name='Reserva')
          .form-group
            label(for='Pasajero') Pasajero
            input#Pasajero.form-control(type='number' placeholder='Pasajero' name='Pasajero')
          button.btn.btn-primary(type='submit') Crear